h1 {
    background-color: rgba(235, 176, 14, 0.795);
    color: whitesmoke;
    padding: 40px;
    margin-bottom: 30px;
    width: 40%;
    text-align: center;
  
}

#wrapper {
    background-color: rgba(179, 245, 218, 0.247);
    width: 100%;
}

#numbertoguess {
    background-color: rgb(20, 233, 162);
    width: 60px;
    height:60px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
#gamerules {
    background-color: rgb(240, 239, 234);
    width: 40%;
    padding: 40px;
    margin-top: 30px;
}

#gamescore {
    width: 210px;
  height: 100px;
  padding: 4px;
  color: ghostwhite;
  background-color: darkcyan;
}



#totalScore {
     background-color: rgb(180, 70, 79);
     margin-bottom: 70px;
     padding-bottom: 20px;
     width: 40%;
     height:40%;
}

.crystals-button {
    display: inline;
  }

  #score-title {
    width: 210px;
    padding: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: darkcyan;
  }
  
  .crystal-img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border: solid;
    border-color: lightblue;
    transform: rotate(-90deg);
  }
  
#crystalball {
    width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: white;
  border: solid;
  border-color: lightblue;
  transform: rotate(-90deg);

}
#score-number {
    font-size: 1.5vw;
  }
  #crystalsection {
    overflow: auto;
  }

 